h1{
    font-size: 30px;
    font-weight: bold;
    color: aqua;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para resaltar filas alternas */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para resaltar celdas al pasar el ratón */
  tr:hover {
    background-color: #ddd;
  }
  
  /* Estilos para la card */
.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 10px;
  }